:root {
    --main-bg-color: #FFFFFF;
    --main-box-shadow: 1px 1px 8px #DDDDDD;

    --title-font-size: 22px;
    --title-font-color: #73879C;
    --title-font-weight: 500;
    --title-letter-spacing: 1.2px;
    --subtitle-font-size: 14px;
    --subtitle-font-color: #777777;
    --subtitle-font-weight: 400;
    --header-action-font-color: #5A738E;
    --header-action-font-size: 12px;
}

.traffic-row {
    margin-bottom: 10px;
}

.traffic-box {
    padding: 8px;
    border-radius: 2px;
    box-shadow: var(--main-box-shadow);
}

.traffic-box-full-line {
    display: inline-block;
    width: 98%;
    background-color: var(--main-bg-color);
}

.traffic-home {
    vertical-align: text-bottom;
}

.traffic-title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    letter-spacing: var(--title-letter-spacing);
    color: var(--title-font-color);
    padding: 2px 8px;
    vertical-align: baseline;
}

.traffic-subtitle {
    font-size: var(--subtitle-font-size);
    font-weight: var(--subtitle-font-weight);
    color: var(--subtitle-font-color);
    vertical-align: text-bottom;
}

.traffic-datepicker {
    margin-right: 8px;
    float: right;
    cursor: pointer;
    vertical-align: text-bottom;
    color: var(--header-action-font-color);
    font-size: var(--header-action-font-size);
}

.traffic-datepicker-value {
    vertical-align: text-top;
}

.traffic-switch {
    margin-right: 16px;
    float: right;
    cursor: pointer;
    vertical-align: text-bottom;
    color: var(--header-action-font-color);
    font-size: var(--header-action-font-size);
}

.traffic-switch span {
    vertical-align: middle;
}

.traffic-text-inbound-switch,
.traffic-text-outbound-switch {
    cursor: default;
}

.traffic-kpi-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.traffic-kpi-large {
    flex-grow: 1;
    margin: 4px;
    padding: 4px;
    position: relative;
    text-align: center;
}

.traffic-kpi-large:before {
    content: "";
    position: absolute;
    left: 0;
    height: 60px;
    vertical-align: middle;
    border-left: 2px solid #ADB2B5;
    box-sizing: border-box;
}

@media only screen and (min-width: 901px) {
    .traffic-kpi-large:first-child:before {
        border: none;
    }
}

@media only screen and (min-width: 501px) and (max-width: 900px) {
    .traffic-kpi-large {
        max-width: 25%;
        min-width: 25%;
    }
    .traffic-kpi-large:nth-child(3n+1):before {
        border: none;
    }
}

@media only screen and (max-width: 500px) {
    .traffic-kpi-large {
        max-width: 33%;
        min-width: 33%;
    }
    .traffic-kpi-large:nth-child(2n+1):before {
        border: none;
    }
}







.traffic-kpi-large-top {
    padding: 4px;

    border: 1px solid #F0F0F0;
    text-align: center;
}

.traffic-kpi-large-middle {
    padding: 4px;

    border: 1px solid #F0F0F0;
    text-align: center;
}

.traffic-kpi-large-bottom {
    padding: 4px;

    border: 1px solid #F0F0F0;
    text-align: center;
}




button.btn {
    color: var(--main-bg-color);
    background-color: var(--header-action-font-color);
    border: none;
    border-radius: 2px;
}